.image-view {
  width: 100%;
  background: #000;

  &__body {
    position: relative;
    height: 600px;
    margin: 0 auto;
    padding: 10px;

    @media only screen and (max-width: 425px) {
      height: 300px;
    }
  }

  &__actions {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &-next, &-prev {
      position: absolute;
      top: 0;
      width: 10%;
      height: 100%;
      background: #000;
      opacity: 0.2;
      font-weight: bold;
      font-size: 35px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: color .7s, background .7s;

      &:hover {
        color: #000;
        background: #fff;
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  &__image {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
